.logo-img {
  height: 80px;
  width: auto;
}

.header {
  height: 80px; /* limite do header */
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
